@model IEnumerable<BancoApp.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Tus prestamos</h1>
@using BancoApp.Models;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    int sessionvalue = (int)HttpContextAccessor.HttpContext.Session.GetInt32("clienteid");

}

<p>
    @{
    }

    @if (Model.Any(p => p.Cliente is PersonaFisica))
    {
        <a asp-controller="Home" asp-action="OverviewFisica" asp-route-id="@sessionvalue">Volver para atras</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="OverviewJuridica" asp-route-id="@sessionvalue">Volver para atras</a>
    }


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.esPrendario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.esPrendario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
